.layout {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.container {
  max-width: $container-width;
  padding: 1rem;

  > .wrapper {
    padding: 0 0 1rem 0;
  }
}

.content {
  padding: 1rem 0 !important;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: $container-width) {
  .layout {
    padding: 1rem;
  }
  .container {
    width: 100%;
  }
  .content {
    padding: 1rem;
  }
}
