// -- Colors -- //
$color-cloud: #f3f7f9;
$color-green: #56b586;
$color-orange: #fd6542;
$color-black: #2e2e2e;
$color-gray: #cecece;

// -- Font --/
$font-url: "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap";
$font-family: "Lato", sans-serif;

// -- Size -- //
$container-width: 720px;
$border-radius: 6px;
$border-width: 1px;
$border-style: solid;
